{% extends 'base.html.twig' %}

{% block body %}
    <h1>Themes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Path</th>
                <th>Preview</th>
                <th>Createat</th>
                <th>Updateat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for theme in themes %}
            <tr>
                <td><a href="{{ path('theme_show', { 'id': theme.id }) }}">{{ theme.id }}</a></td>
                <td>{{ theme.name }}</td>
                <td>{{ theme.path }}</td>
                <td>{{ theme.preview }}</td>
                <td>{% if theme.createAt %}{{ theme.createAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if theme.updateAt %}{{ theme.updateAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('theme_show', { 'id': theme.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('theme_edit', { 'id': theme.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('theme_new') }}">Create a new theme</a>
        </li>
    </ul>
{% endblock %}
