{% extends 'base.html.twig' %}

{% block body %}
    <h1>Theme</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ theme.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ theme.name }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ theme.path }}</td>
            </tr>
            <tr>
                <th>Preview</th>
                <td>{{ theme.preview }}</td>
            </tr>
            <tr>
                <th>Createat</th>
                <td>{% if theme.createAt %}{{ theme.createAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updateat</th>
                <td>{% if theme.updateAt %}{{ theme.updateAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('theme_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('theme_edit', { 'id': theme.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
