{% extends 'base.html.twig' %}

{% block body %}
    <h1>Configcategory</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ configCategory.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ configCategory.name }}</td>
            </tr>
            <tr>
                <th>Createat</th>
                <td>{% if configCategory.createAt %}{{ configCategory.createAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updateat</th>
                <td>{% if configCategory.updateAt %}{{ configCategory.updateAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Ip</th>
                <td>{{ configCategory.ip }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ configCategory.status }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('configcategory_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('configcategory_edit', { 'id': configCategory.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
