{% extends '@KitWeb/User/base.html.twig' %} {% block content_right %} {{
form_start(form,  {'attr': {'novalidate': 'novalidate', 'class': 'form-x'}}) }} {% for error in errors %}
<div class="alert alert-red margin">
	<span class="close rotate-hover"></span> <span>{{ error }}</span>
</div>
{% endfor %}
<div class="form-group">
	<div class="field field-icon-right">{{ form_row(form.password, {'attr':
		{'class': 'input', 'placeholder': '请输入旧密码', 'data-validate':
		'required:请填写旧密码,length#>=5:密码长度不符合要求'}}) }}</div>
</div>
<div class="form-group">
	<div class="field field-icon-right">{{
		form_row(form.plainPassword.first, {'attr': {'class': 'input',
		'placeholder': '请输入新密码', 'data-validate':
		'required:请填密码,length#>=5:密码长度不符合要求'}}) }}</div>
</div>
<div class="form-group">
	<div class="field field-icon-right">{{
		form_row(form.plainPassword.second, {'attr': {'class': 'input',
		'placeholder': '请确认密码', 'data-validate':
		'required:请确认密码,length#>=5:密码长度不符合要求'}}) }}</div>
</div>
<div class="form-group">
    <div class="field field-icon-right">
	   <button class="button button-block bg-main text-big">确认修改</button>
	</div>
</div>
{{ form_end(form) }} {% endblock %}
