        <!--底部-->
		<br />
		<br />
		<div class="layout padding-big-top padding-big-bottom border-top bg-gray bg-inverse">
			<div class="container padding">
				<div class="line">
					<div class="hidden-l xs9 table-responsive">
						<ul class="nav nav-sitemap">
							<li><a href="">新闻相关</a>
								<ul>
									<li><a href="{{ path('kit_web_news_list', {id: 2}) }}">综合要闻</a></li>
									<li><a href="{{ path('kit_web_news_list', {id: 3}) }}">领导活动</a></li>
									<li><a href="{{ path('kit_web_news_list', {id: 6}) }}">公示公告</a></li>
								</ul>
							</li>
							<li><a href="">监督相关</a>
								<ul>
									<li><a href="{{ path('kit_web_news_list', {id: 4}) }}">立法工作</a></li>
									<li><a href="{{ path('kit_web_news_list', {id: 5}) }}">监督工作</a></li>
									<li><a href="{{ path('kit_user_report') }}">监督工作</a></li>
								</ul>
							</li>
							<li><a href="">友情链接</a>
								<ul>
									<li><a href="">kitcloud</a></li>
									<li><a href="">kitlabs</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="xl12 xs3 padding-top">
						<div class="media media-x">
							<div class="float-left txt-border radius-circle border-main">
								<div class="txt radius-circle bg-main icon-phone text-large"></div>
							</div>
							<div class="media-body"><strong class="text-big text-main"></strong>举报电话</div>
						</div>
						<div class="media media-x">
							<div class="float-left txt-border radius-circle border-main">
								<div class="txt radius-circle bg-main icon-weibo text-large"></div>
							</div>
							<div class="media-body"><strong class="text-big text-main">微博关注我们</strong><a class="button button-little bg-red shake-hover" target="_blank" href="http://www.weibo.com/">点击关注</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>